<div>
    <form ng-submit="submit()">
        <input type="text" ng-model="seachTerm" placeholder="search flickr" />
        <input type="text" ng-model="user" placeholder="user ID" />
        <button type="submit" ng-disabled="!seachTerm">search</button>
    </form>

    <div ng-if="results">
        <div>
            <button ng-click="sortBy('views')">
                <span>views</span>
                <span ng-show="sortUsing == 'views' && !reverse" class="fa fa-caret-down"></span>
                <span ng-show="sortUsing == 'views' && reverse" class="fa fa-caret-up"></span>
            </button>
            <button ng-click="sortBy('datetaken')">
                <span>date taken</span>
                <span ng-show="sortUsing == 'datetaken' && !reverse" class="fa fa-caret-down"></span>
                <span ng-show="sortUsing == 'datetaken' && reverse" class="fa fa-caret-up"></span>
            </button>
            <button ng-click="sortBy('dateupload')">
                <span>date uploaded</span>
                <span ng-show="sortUsing == 'dateupload' && !reverse" class="fa fa-caret-down"></span>
                <span ng-show="sortUsing == 'dateupload' && reverse" class="fa fa-caret-up"></span>
            </button>
            <button ng-click="sortBy('owner')">
                <span></span>owner</span>
                <span ng-show="sortUsing == 'owner' && !reverse" class="fa fa-caret-down"></span>
                <span ng-show="sortUsing == 'owner' && reverse" class="fa fa-caret-up"></span>
            </button>
        </div>
        <ul>
            <li ng-repeat="ele in results | orderBy:propertyName:reverse" ng-click="tagDetails(results.indexOf(ele))">
                <img ng-src="{{ele.url_q}}" />
                <div>{{ele.owner}}</div>
                <div>{{ele.dateupload}}</div>
                <div>{{ele.datetaken}}</div>
                <div>{{ele.views}}</div>
            </li>
        </ul>
    </div>
</div>
